---
active: home
description: >-
    404 Error, perhaps try going to the previous page.
layout: default
title: This 404 page looks for capitolization mistakes, trying to redirect you to the right page.
sitemap: false
---
<script>

var allposts = [];  
function redirectToCorrectPage() {
  console.log("Unable to find page/post. Trying other URL cases.");
	{% for post in site.posts %}  
		allposts.push("{{ post.url }}");  
	{% endfor %}  
	var url = window.location.pathname;
	// strip trailing /
	if (url.slice(-1) === "/") {  
		 url = url.slice(0, -1);  
	}
	var allpostsUpperCase = allposts.map(function(value) {  
	  	// strip trailing /
	  	if (value.slice(-1) === "/") {  
			value = value.slice(0, -1);  
	  	}
		return value.toUpperCase();  
	});  
	console.log("Looking for "+url.toUpperCase() + " in "+allpostsUpperCase);
	var i = allpostsUpperCase.indexOf(url.toUpperCase());  
	if (i != -1) {  
		console.log(allposts[i]);  
		window.location = allposts[i];  
	}  
}  
window.onload = redirectToCorrectPage;

</script>


<!-- YYYY-MM-DD -->

<h1 class="title">Attempting to redirect you.</h1>
<h2 class="subtitle">Links/URLs require correct capitalization.</h2>
<div class="middleTableContentContainer">
  <div class="middleTbodyContentContainer">
    <div class="actualContentRow">

      <div class="col-xs-36 col-sm-36 col-md-36 col-lg-36 actualContentCell">
        <div class="textContainer">
			<p class="vwLargerWindow-p textCenter"><span class="pSpan">Looking to see if you missed any capitalization or lowercase letters.<br>If you don't redirect in less than thirty seconds, you've reached a dead link.<br><br>Error: 404<br>Please try going back to the page you were just at.</span></p>
        </div>
      </div>

    </div>
  </div>
</div>


{% include footerNav.html %}

</body>

</html>
