

<body>
    <div class="everything"><TABLE class="tableContainer" style="width:100%;height:100%"><TBODY style="height:100%"><TR class="topRowHeaderContainer"><TD class="topCellHeader" style="position:relative"><div class="firstHeaderDiv"><div class="secondHeaderDiv"><div class="brandContainerParent">
        <div class="brandContainer">
            <a class="brand" href="{{ base }}" ><b>How&nbsp;To&nbsp;Get&nbsp;To&nbsp;Heaven</b></a>
            <span class="navbarTop-hoverEffect-1">
                <span class="navbar-hoverEffect-width-or-height">
                  <span class="navbar-hoverEffect-1-cyan"></span>
                  <span class="navbar-hoverEffect-1-pink"></span>
                </span>
            </span>
        </div></div><div class=thirdHeaderDiv><ul class="firstHeaderList"><li class="firstHeaderListItems" id="firstHeaderListItems"><ul class="secondHeaderListA">
    <li class="listItemsA1" id="listItemsA1" style="display:inline;position:relative;float:left;width:100%;text-align:center;zoom:1;margin:0">    
      <a href="{{ base }}/Share-the-gospel/" class="{% if post.active == 'share' %}current{% endif %} {% if page.active == 'share' %}current{% endif %} firstHeaderLinkPrint"><b>Share&nbsp;the&nbsp;gospel</b></a>
      <span class="navbarTop-hoverEffect-1">
        <span class="navbar-hoverEffect-width-or-height">
          <span class="navbar-hoverEffect-1-cyan"></span>
          <span class="navbar-hoverEffect-1-pink"></span>
        </span>
      </span>
    </li>
    </ul>
    <ul  class="secondHeaderListB">
    <li class="listItemsB1">
        <a href="{{ base }}" class="{% if post.active == 'home' %}current{% endif %} {% if page.active == 'home' %}current{% endif %} secondHeaderLinkHome"><b>The&nbsp;good&nbsp;news</b></a>
        <span class="navbarTop-hoverEffect-1">
            <span class="navbar-hoverEffect-width-or-height">
              <span class="navbar-hoverEffect-1-cyan"></span>
              <span class="navbar-hoverEffect-1-pink"></span>
            </span>
        </span>
    </li>
    <li class="listItemsB2">
        <a href="{{ base }}/More-About-the-Saving-Love-of-God/" class="{% if post.active == 'more' %}current{% endif %} {% if page.active == 'more' %}current{% endif %} thirdHeaderLinkMore"><b>More&nbsp;about&nbsp;God's&nbsp;saving&nbsp;love</b></a>
        <span class="navbarTop-hoverEffect-1">
            <span class="navbar-hoverEffect-width-or-height">
              <span class="navbar-hoverEffect-1-cyan"></span>
              <span class="navbar-hoverEffect-1-pink"></span>
            </span>
        </span>
    </li>
    </ul>
    </li>
    </ul>
    </div>
    <!--/.nav-collapse -->
    </div>
    </div>
    </TD>
    </TR>
    <TR class="middleRowContentContainer">
    <TD class="middleCellContentContainer">
    <div class="paddingPush">
    <div class="middleDivContentContainerParent">
    <div class="middleDivContentContainerChild">